# Server Configuration
PORT=3005
NODE_ENV=development

# Meilisearch Configuration
MEILI_HOST=http://localhost:7700
MEILI_MASTER_KEY=masterKey

# Content Service Configuration
CONTENT_SERVICE_URL=http://localhost:3001
